*.a
*-old.cpp
*.o
*.sh
*.registration.*
Test/
Segment/
Old/
EdgeDetect
edge_detect_inter.h
FrameTools/
VideoDriver
EdgePipeline
VideoDriverOld
ImageDriver
*pipeline*.h
SiftDriver
SIFTDriver
find_maxima.h
find_maxima_inter.h
FrameFilter.h
get_derivatives.h
FeatureExtractor.h
features/*.txt
*.sh
images/
lessons/
output/
videos/
.vscode/
